head {
    background-color: rgb(247, 115, 39);
    align-content: center;
    align-self: center;

}
 

body {
    background-color: rgb(255, 223, 181);
    align-content: center;
    align-self: center;
    width: 128px;
    height: 128px;

}



