head {
    background-color: rgb(247, 115, 39);
    align-content: center;
    align-self: center;

}
 

body {
    background-color: rgb(245, 133, 230);
    align-content: center;
    align-self: center;

}

